{% extends "base.html" %}

{% block links %}

<script type='text/javascript'>

 
	var year = new Date().getFullYear();
	var month = new Date().getMonth();
	var day = new Date().getDate();
	
// Mostra calendario Para Alunos de graduação,  alunos podem cadastrar suas bancas apartir desse calendario

	var eventData_alunos = {
		events : [
{% for banca in bancas%}
		   {"id":{{banca.id}},
		    "start": new Date({{banca.data.year}}, {{banca.data.month}}-1, {{banca.data.day}},{{ banca.hora_inicial.hour }},{{ banca.hora_inicial.minute }} ), 
		    "end": new Date({{banca.data.year}}, {{banca.data.month}}-1 , {{banca.data.day}}, {{ banca.hora_final.hour }}, {{ banca.hora_final.minute }}),
		    "title":"{{banca.projeto.titulo}}",
		    "color":"{% if banca.projeto.supervisor != None %}1{% else %}{% if banca.projeto.orientador != None %}2{% else %}3{% endif %}{% endif %}",
			 "grupo":"{{banca.grupo.cor}}",	    
		    "reservada":"{{banca.reservada}}",
		    },  
		                         
{% endfor%}
		   
		]
	};



	   


$(document).ready(function() {

		var $calendar = $('#calendar').weekCalendar({
				date : new Date({{primeiro.year}},{{primeiro.month}}-1,{{primeiro.day}} ),
				minDate : new Date({{primeiro.year}},{{primeiro.month}}-1,{{primeiro.day}}, {{hora_inicial.hour}}+1, {{hora_inicial.minute}}),
				maxDate : new Date({{ultimo.year}},{{ultimo.month}}-1,{{ultimo.day}}),
			height: function($calendar){
				if(new Date().getDate() > new Date(2011,12,1)){
			   $calendar.find(".ui-widget-header").css({"background": "#dadada url({{ MEDIA_URL }}css/smoothness/images/ui-bg_glass_75_dadada_1x400.png) 50% 50%"});
				}
				return $(window).height() - 255 - $("h1").outerHeight(true);
			},
			
			eventRender : function(calEvent, $event) {  	
         	
         			if(calEvent.color == "1"){
         			$event.find(".wc-time").css("backgroundColor","#e05346");
         			}
         			if(calEvent.color == "2"){
         			$event.find(".wc-time").css("backgroundColor","#3d77c9");
         			}
         			if(calEvent.color == "3"){
         			$event.find(".wc-time").css("backgroundColor","#cccccc");
         			}
         			$event.css("color","#000");
						$event.css("backgroundColor",calEvent.grupo ); 
						
			},
			eventClick : function(calEvent, $event) {
			if (calEvent.reservada == 'False'){
				var $titulo = "Horário Disponivel";			
			}else{ $titulo = ""+calEvent.title; }
         var $dialogContent = $("#event_edit_container_"+calEvent.id);
         $dialogContent.dialog({
            modal: true,
            resizable: false,
            width: 920,
            height: 300,
            title: $titulo,
            close: function() {
               $dialogContent.dialog("destroy");
               $dialogContent.hide();
               $('#calendar').weekCalendar("removeUnsavedEvents");
            },
            
         }).show();
         $(window).resize().resize(); //fixes a bug in modal overlay size ??

      },
			eventMouseover : function(calEvent, $event) {
				
			},
			eventMouseout : function(calEvent, $event) {
				
			},
			data: function(start, end, callback) {
					callback(eventData_alunos);
            }
            
            
		});

		$("#data_source").change(function() {
			$calendar.weekCalendar("refresh");
			updateMessage();
			
		});
	});

</script>
 	
{% endblock %}
{% load markup %}
{% block title %}Calendário - {{grupo}}{% endblock %}

{% block section %}Calendário - {{grupo}}{% endblock %}

{% block content %}

	{% if bancas.count == 0 %}
		<div><p>As Datas e os Horários ainda não foram definidos para esse Grupo, Aguardem!</p></div>
		
	{%else%}
	
		
	
		<div id='calendar'>
			<div class="sidebar">
			
				<div class="sidebar-box" style="position:relative; top:5px; right:10px;">
					<form class="searchform" action="/busca" method="get">
         			 <input type="text" value="Busca por banca" onfocus="this.value=''" onblur="this.value='Buscar por banca'"document.submit();{{ form.q }}  
     			 	</form>
    		</div>
    		</div>
    </div>
    <div> <div style="background-color:{{banca.cor}}"></div>
    </div>
    
	{% endif %}
{% for banca in bancas %}
<div id="event_edit_container_{{banca.id}}" style="display:none;">
{% if banca.reservada %}
		{% if banca.projeto.orientador != None %}
    	<p><b style="color:#3d77c9">Banca de Trabalho de Graduação.</b></p>
    	{% endif %}
    	{% if banca.projeto.supervisor != None %}
    	<p><b  style="color:#e05346">Banca de Estágio.</b></p>
    	{% endif %}
    	<br />
    	<p>Aluno: {{banca.aluno.get_profile.display_name}}.</p>
    	<p>Apresentação na sala <b>{{banca.sala.nome}}</b>, das <b>{{banca.hora_inicial}}</b> até as <b>{{banca.hora_final}}</b> no dia <b>{{banca.data}}</b>.</p>
    	<br />
    	<p>Orientador/Empresa: {{banca.projeto.orientador}}{{banca.projeto.supervisor.empresa}}</p>
    	<br />
    	<p>Áreas de Concentração: 
    	{% for item in banca.projeto.area %}
    			{% if item == 'a' %}<p>Engenharia de Software e Sistemas de Informação;</p>{% endif %}
    			{% if item == 'b' %}<p>Inteligencia Computacional;</p>{% endif %}
    			{% if item == 'c' %}<p>Banco de Dados;</p>{% endif %}
    			{% if item == 'd' %}<p>Computação Gráfica e Processamento de Imagens;</p>{% endif %}
    			{% if item == 'e' %}<p>Hipermídia;</p>{% endif %}
    			{% if item == 'f' %}<p>Computação Bioinspirada;</p>{% endif %}
    			{% if item == 'g' %}<p>Otimização e Modelos Estocásticos;</p>{% endif %}
    			{% if item == 'h' %}<p>Gerenciamento de Redes;</p>{% endif %}
    			{% if item == 'i' %}<p>Mecânica dos Fluidos Computacionais;</p>{% endif %}
    			{% if item == 'j' %}<p>Sistemas Distribuídos e Programação Concorrente;</p>{% endif %}
    			{% if item == 'k' %}<p>Arquitetura de Computadores;</p>{% endif %}
    			{% if item == 'l' %}<p>Outras: {{banca.projeto.espc }};</p>{% endif %}
    	 {% endfor %}
    	</p>
    	<br />
    	<p>Bancas: </p>
    	<p>{{banca.banca1.get_profile.display_name}} </p> 
    	<p>{{banca.banca2.get_profile.display_name}}</p>
    	 {%if request.session.estado.usuario == banca.aluno%}
    	 	<div style="position:relative; top:5px;"><a href='{%url bancas_banca_deleta banca.id %}'>Liberar</a></div>
    	 {% endif %}
    	 {% if request.session.estado.usuario == banca.banca1 or request.session.estado.usuario == banca.banca2 %}
    	 	<div style="position:relative; top:5px;"><a href='{%url bancas_banca_sair banca.id user.id %}'>Liberar</a></div>
    	 {% endif %}
   {% else %}
   <p>Sala <b>{{banca.sala.nome}}</b>, das <b>{{banca.hora_inicial}}</b> até as <b>{{banca.hora_final}}</b> no dia <b>{{banca.data}}</b>.</p>
   {%if perms.usuarios.aluno_de_graduacao %}
   <div style="position:relative; top:225px; right:10px;"><a href='{% url bancas_banca_reserva banca.id user.id %}'>Reservar</a></div>
   {% endif %}
  	{% endif %}
    	
		
	</div>
{% endfor %}


{% endblock %}
