@font-face {
    font-family: 'PTSansRegular';
    src: url('../css/type/ptsans/ptsans-regular-webfont.eot');
    src: url('../css/type/ptsans/ptsans-regular-webfont86d7.eot?iefix') format('eot'),
         url('../css/type/ptsans/ptsans-regular-webfont.woff') format('woff'),
         url('../css/type/ptsans/ptsans-regular-webfont.ttf') format('truetype'),
         url('../css/type/ptsans/ptsans-regular-webfont.svg#webfontdeSwgHNj') format('svg');
    font-weight: normal;
    font-style: normal;
}
