{% extends "admin/change_form.html" %}

{% block submit_buttons_top %} 
<div class="submit-row">
	<input type="submit" value="Salvar e Enviar" class="default" name="_save_send" />
	<input type="submit" value="Salvar como rascunho" class="default" name="_save_draft" />
</div>
{% endblock %}
{% block submit_buttons_bottom %} 
<div class="submit-row">
	<input type="submit" value="Salvar e Enviar" class="default" name="_save_send" />
	<input type="submit" value="Salvar como rascunho" class="default" name="_save_draft" />	
</div>
    
{% endblock %}