{% extends "base.html" %}
{% load i18n %}

{% block title %}Perfil de {{ usuario.get_profile.display_name }}{% endblock %}

{% block section %}Trocar Senha{% endblock %}

{% block content %}

<div >
 <form action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p>
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<h1>{% trans 'Password change' %}</h1>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<fieldset class="content">

<div class="one-fourth">
    <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>
</div>    
<div class="two-fourth last">    
    {{ form.old_password }}
</div>

<div class="one-fourth">
    <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>
</div>    
<div class="two-fourth last">      
    {{ form.new_password1 }}
</div>

<div class="one-fourth">
    <label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>
</div>    
<div class="two-fourth last">      
    {{ form.new_password2 }}
</div>

</fieldset>
<div class=="sidebar">
<div class="sidebar-box">
		{{ form.old_password.errors }}
		{{ form.new_password1.errors }}
		{{ form.new_password2.errors }}
</div>
</div>


<div class="content">
    <input type="submit" value="{% trans 'Change my password' %}" class="default" />
    <input type="button" value=" Voltar " onclick="history.go(-1)">
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form> 
  
  
</div>


{% endblock %}
